.Pair {
  flex: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 14em;
  min-height: 7em;
  outline: 1px solid black;
  margin: 0.5em;
}

.Pair .Dev {
  flex: none;
}
